.heroSection {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: url("/images/hero/r4.jpg") no-repeat center center;
  background-size: cover; /* запълва целия екран */
  background-attachment: fixed; /* остава фиксирано при скрол (по желание) */
  color: white;
  width: 100%;
  height: 100vh; /* 100% от височината на екрана */
  display: flex;
  justify-content: center; /* центрира хоризонтално */
  align-items: center;     /* центрира вертикално */
  text-align: center;
  overflow: hidden;
}

.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  /* Увеличете последната стойност от 0.9 на 0.95 или дори 0.98 */
  background-color: rgba(255, 255, 255, 0.70); /* <-- ПРОМЕНЕНО */
  z-index: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.heroSection h2{
  font-size: 60px;
  color: #164619;
  line-height: 1.7;
  margin-bottom: 2.5rem;
  margin-left: 5rem;
  text-align: center;
  position: relative;
  z-index: 1;
  font-style: italic;
}

.heroSection p {
  font-size: 25px;
  color: #164619;
  line-height: 1.7;
  margin-bottom: 2.5rem;
  margin-left: 5rem;
  text-align: center;
  position: relative;
  z-index: 1;
  font-style: italic;
}

@media (max-width: 768px) { 
  .heroSection {
    padding: 4rem 1rem;
  }
  .heroSection h1 {
    font-size: 32px;
  }
  .heroSection p {
    font-size: 20px;
  }
}

@media (max-width: 480px) { 
  .heroSection {
    padding: 3rem 0.5rem;
  }
  .heroSection h1 {
    font-size: 28px;
  }
  .heroSection p {
    font-size: 18px;
  }
}