.heroSection {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(135deg, #8cd392 0%, #60a165 100%);
  color: white;
  padding: 6rem 2rem;
  text-align: center;
  border-radius: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.heroSection h1 {
  font-size: 3rem;
  margin: 0.5rem 0;
  font-style: italic;
}

.heroSection p {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  color: #ddd;
}